<!--about-starts-->
<div class="about">
  <div class="container">
    <div class="about-top heading">
      <h2>About Us</h2>
    </div>
    <div class="about-bottom">
      <div class="col-md-5 about-left">
        <%= image_tag("abt1.jpg") %>
      </div>
      <div class="col-md-7 about-right">
        <h4>What does SSEF do? How does it work?</h4>

        <p>Once every year, SSEF travels to Koch Lii and identifies at least four children from Koch Lii primary school
          who have attained the best grades in their PLE and are unable to continue their education. SSEF then matches
          the
          children with sponsors who provide funds for tuition and other needs where possible.</p>

        <p>SSEF identifies schools for the children and arranges for them to travel to and fro school, procures
          scholastic
          materials and other essentials, visits them on visiting days and provides mentorship.</p>

        <p>SSEF also takes donations and contributions from members and other well-wishers in both monetary and material
          form. Monetary donations are put into a central fund from which fees for children without sponsors can be
          drawn,
          as well as monies for other operational expenses.</p>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--about-end-->
<!--why-starts-->
<div class="why">
  <div class="container">
    <div class="why-top heading">
      <h3>What we are</h3>

      <p>SSEF is a nonprofit organization that provides education opportunities for disadvantaged children from Koch
        Lii, Nwoya district, Northern Uganda. It is registered as a company limited by guarantee.</p>

    </div>
    <div class="why-bottom">
      <div class="col-md-7 why-left">
        <div class="why-1">
          <span class="glyphicon glyphicon-film" aria-hidden="true"></span>

          <div class="why-text">
            <h4>Our vision</h4>

            <p>Silas Shyaka Education Fund is committed to helping children, see possibilities beyond what they experience
              every day and we work to give children the opportunity to make a difference in their lives and
              communities. Through education, we envision each child having access to the greater world and the
              opportunity to participate in it.</p>
          </div>
        </div>
        <div class="why-2">
          <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>

          <div class="why-text">
            <h4>Our mission</h4>

            <p>To improve the lives of children living in poverty around the world through education.</p>
          </div>
        </div>
        <div class="why-2">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>

          <div class="why-text">
            <h4>Our history</h4>

            <p>Since its inception in 2011, SSEF has achieved the following</p>
            <div>

            </div>
            <ul class="hist" style="margin-left:20px;">
              <li>Educated 6 students up to S.4 level</li>
              <li>Established a working relationship with the community of Koch Lii village in Nwoya district where the
                beneficiaries come from
              </li>
              <li>Created social connections between the beneficiaries of the fund and their benefactors, some of whom are
                in far flung corners of the globe.
              </li>
            </ul>

          </div>
        </div>
      </div>
      <div class="col-md-5 why-right">
        <%= image_tag("w1.jpg") %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--why-end-->
<!--donors-starts-->
<div class="team">
  <div class="container">
    <div class="why-top heading">
      <h3>Our Team</h3>

      <p>SSEF is governed by a volunteer board of directors who are responsible for setting the vision and direction of
        the fund</p>

    </div>
    <div class="team-bottom">

      <div class="col-md-3 team-left wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
        <a href="#">
          <%= image_tag("t2.jpg", :alt => "t2") %>
          <div class="captn">
            <h4>Linda K Rubaire</h4>

            <p>C.E.O</p>
          </div>
          <div class="team-text">
            <h5>Linda K Rubaire </h5>

            <p>C.E.O</p>
          </div>
        </a>
        <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a>
        <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a>
        <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a>
        <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
      </div>
      <div class="col-md-3 team-left wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
        <a href="#">
          <%= image_tag("t1.jpg", :alt => "t1") %>
          <div class="captn">
            <h4>Alex N Shyaka</h4>

            <p>Accountant</p>
          </div>
          <div class="team-text">
            <h5>Alex N Shyaka</h5>

            <p>Accountant</p>
          </div>
        </a>
        <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a>
        <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a>
        <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a>
        <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
      </div>
      <div class="col-md-3 team-left wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
        <a href="#">
          <%= image_tag("t3.jpg", :alt => "t3") %>
          <div class="captn">
            <h4>Mbanda Shyaka</h4>

            <p>Treasurer</p>
          </div>
          <div class="team-text">
            <h5>Mbanda Shyaka</h5>

            <p>Treasurer</p>
          </div>
        </a>
        <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a>
        <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a>
        <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a>
        <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
      </div>
      <div class="col-md-3 team-left wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
        <a href="#">
          <%= image_tag("t4.jpg", :alt => "t4") %>
          <div class="captn">
            <h4>Fiona Kemigisha</h4>

            <p>Coordinator</p>
          </div>
          <div class="team-text">
            <h5>Fiona Kemigisha</h5>

            <p>Coordinator</p>
          </div>
        </a>
        <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a>
        <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a>
        <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a>
        <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
      </div>

    </div>
  </div>
</div>
<!--donors-end-->