
<!--light-box-files -->
<script type="text/javascript">
    $(function() {
        $('.gallery-bottom a').Chocolat();
    });
</script>
<!-- strap gallery-->
<div class="gallery">
  <div class="container">
    <div class="gallery-top heading">
      <h3>Our Beneficiaries</h3>
    </div>
    <div class="row gallery-bottom grid">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="/assets/g1.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
          <figure class="thumbnail effect-oscar">
            <%= image_tag("g1.jpg", :alt => "g1") %>
            <figcaption>
              <h2>Sed id dolor</h2>
              <p>Vestibulum mollis mollis elit nec ullamcorper</p>
            </figcaption>
          </figure>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="/assets/g5.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
          <figure class="thumbnail effect-oscar">
            <%= image_tag("g5.jpg", :alt => "g5") %>
            <figcaption>
              <h2>Sed id dolor</h2>
              <p>Vestibulum mollis mollis elit nec ullamcorper</p>
            </figcaption>
          </figure>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="/assets/g6.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
          <figure class="thumbnail effect-oscar">
            <%= image_tag("g6.jpg", :alt => "g6") %>
            <figcaption>
              <h2>Sed id dolor</h2>
              <p>Vestibulum mollis mollis elit nec ullamcorper</p>
            </figcaption>
          </figure>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="/assets/g7.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
          <figure class="thumbnail effect-oscar">
            <%= image_tag("g7.jpg", :alt => "g7") %>
            <figcaption>
              <h2>Sed id dolor</h2>
              <p>Vestibulum mollis mollis elit nec ullamcorper</p>
            </figcaption>
          </figure>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="/assets/g6.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
          <figure class="thumbnail effect-oscar">
            <%= image_tag("g6.jpg", :alt => "g6") %>
            <figcaption>
              <h2>Sed id dolor</h2>
              <p>Vestibulum mollis mollis elit nec ullamcorper</p>
            </figcaption>
          </figure>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="/assets/g1.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
          <figure class="thumbnail effect-oscar">
            <%= image_tag("g1.jpg", :alt => "g1") %>
            <figcaption>
              <h2>Sed id dolor</h2>
              <p>Vestibulum mollis mollis elit nec ullamcorper</p>
            </figcaption>

          </figure>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="/assets/g2.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
          <figure class="thumbnail effect-oscar">
            <%= image_tag("g2.jpg", :alt => "g2") %>
            <figcaption>
              <h2>Sed id dolor</h2>
              <p>Vestibulum mollis mollis elit nec ullamcorper</p>
            </figcaption>
          </figure>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="/assets/g5.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
          <figure class="thumbnail effect-oscar">
            <%= image_tag("g5.jpg", :alt => "g5") %>
            <figcaption>
              <h2>Sed id dolor</h2>
              <p>Vestibulum mollis mollis elit nec ullamcorper</p>
            </figcaption>
          </figure>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- end of strap gallery -->